.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
  .footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  