<body>
  <section id="about" class="py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="assets/banners/cutm png.jpeg" alt="About Us" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
          <h2>About Us</h2>
          <p class="lead">Centurion University (CU) is a multi-sector, private university from AndhraPradesh, India. With its main campus earlier at Parlakhemundi in the Gajapati and another constituent campus located at Jatni, on the fringes of Bhubaneswar,which is now as main campus & it was accorded the status of a university in the year 2010.The university has been accredited by NAAC with 'A+' Grade,thereby becoming the youngest private university to have earned the distinction.</p>
        </div>
      </div>
    </div>
  </section>
</body>

