.active{
background-color: grey;
border-radius:30px ;
color: white;
font-weight: bold;
}
.navbar img {
    height: 50px;       
    width: 40px;        
    margin-right: 10px;
    vertical-align: middle;
}
