.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.login-card {
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-card img {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}

.login-card .form-control {
  margin-bottom: 15px;
}

.login-card .btn {
  width: 100%;
}


.mt-3 {
  margin-top: 1rem !important;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.text-decoration-none {
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
  transition: color 0.3s ease;
}

.text-decoration-none:hover {
  color: #0056b3;
}
