<body>
  <section class="login-section">
    <div class="login-card">
      <img src="assets/banners/cutm png.jpeg" alt="Logo">
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="mt-3 d-flex justify-content-between">
          <a href="#" class="text-decoration-none">Forgot Password?</a>
          <a href="signup" class="text-decoration-none">Create New Account</a>
        </div>
      </form>
    </div>
  </section>
  </body>
  